@import "tailwindcss";

*{
  scroll-behavior: smooth;
  color-scheme: dark;
}

body{
  background-color: rgb(5, 9, 23);
}

svg path {
  fill: transparent;
  stroke: #fff;
  stroke-width: 0.5;
  stroke-dasharray: 200; /* Adjust based on path length */
  stroke-dashoffset: 200;
  animation: textAnimation 1s ease-in-out forwards;
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 200;
    fill: transparent;
  }
  70%{
    fill: transparent;
  }
  80% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}